[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = http://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = http://github.com/nowk/vim-taglist.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/phpfolding"]
	path = vim/bundle/phpfolding
	url = http://github.com/vim-scripts/phpfolding.vim.git
[submodule "vim/bundle/dirdo"]
	path = vim/bundle/dirdo
	url = http://github.com/ornicar/vim-dirdo.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/colorsupport"]
	path = vim/bundle/colorsupport
	url = https://github.com/vim-scripts/colorsupport.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
