[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Redshift
Comment=
Exec=/usr/bin/redshift-gtk
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

